In [46]:
import pandas as pd, numpy as np
import sqlite3
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from unicodedata import normalize
from nltk.stem.snowball import SnowballStemmer
import re
from  nltk.corpus import stopwords

In [71]:
conn = sqlite3.connect("clientes4.db")
test = pd.read_sql("""select codigo as codigoCbo, printf('%s %s %s %s', nome ,descricao_sumaria, formacao_experiencia, condicoes_exercicio) as unificado
		from familia  
""", conn)

In [72]:
train = pd.read_csv("train.csv", sep = ";")
train

,codigoCbo,seguranca,relacionamento,saude,tecnologia,manufatura,gastronomia
0,101,1.0,NaN,NaN,NaN,NaN,NaN
1,102,1.0,NaN,NaN,NaN,NaN,NaN
2,103,1.0,NaN,NaN,NaN,NaN,NaN
3,201,1.0,NaN,NaN,NaN,NaN,NaN
4,203,1.0,NaN,NaN,NaN,NaN,NaN
5,311,1.0,NaN,NaN,NaN,NaN,NaN
6,312,1.0,NaN,NaN,NaN,NaN,NaN
7,5173,1.0,NaN,NaN,NaN,NaN,NaN
8,4223,NaN,1.0,NaN,NaN,NaN,NaN
9,4222,NaN,1.0,NaN,NaN,NaN,NaN
10,2523,NaN,1.0,NaN,NaN,NaN,NaN
11,5241,NaN,1.0,NaN,NaN,NaN,NaN
12,5242,NaN,1.0,NaN,NaN,NaN,NaN
13,5243,NaN,1.0,NaN,NaN,NaN,NaN
14,4221,NaN,1.0,NaN,NaN,NaN,NaN
15,4241,NaN,1.0,NaN,NaN,NaN,NaN
16,2253,NaN,NaN,1.0,NaN,NaN,NaN
17,2235,NaN,NaN,1.0,NaN,NaN,NaN
18,3222,NaN,NaN,1.0,NaN,NaN,NaN
19,5193,NaN,NaN,1.0,NaN,NaN,NaN
20,2237,NaN,NaN,1.0,NaN,NaN,NaN
21,2261,NaN,NaN,1.0,NaN,NaN,NaN
22,2253,NaN,NaN,1.0,NaN,NaN,NaN
23,2233,NaN,NaN,1.0,NaN,NaN,NaN
24,2124,NaN,NaN,NaN,1.0,NaN,NaN
25,1425,NaN,NaN,NaN,1.0,NaN,NaN
26,2341,NaN,NaN,NaN,1.0,NaN,NaN
27,2612,NaN,NaN,NaN,1.0,NaN,NaN
28,2122,NaN,NaN,NaN,1.0,NaN,NaN
29,3185,NaN,NaN,NaN,NaN,1.0,NaN
30,7152,NaN,NaN,NaN,NaN,1.0,NaN
31,8211,NaN,NaN,NaN,NaN,1.0,NaN
32,7701,NaN,NaN,NaN,NaN,1.0,NaN
33,7613,NaN,NaN,NaN,NaN,1.0,NaN
34,7111,NaN,NaN,NaN,NaN,1.0,NaN
35,5132,NaN,NaN,NaN,NaN,NaN,1.0
36,2711,NaN,NaN,NaN,NaN,NaN,1.0
37,5135,NaN,NaN,NaN,NaN,NaN,1.0
38,3252,NaN,NaN,NaN,NaN,NaN,1.0
39,8418,NaN,NaN,NaN,NaN,NaN,1.0
40,8414,NaN,NaN,NaN,NaN,NaN,1.0
41,7842,NaN,NaN,NaN,NaN,NaN,1.0

In [73]:
train = train.merge(test, on='codigoCbo')

In [74]:
train

,codigoCbo,seguranca,relacionamento,saude,tecnologia,manufatura,gastronomia,unificado
0,101,1.0,NaN,NaN,NaN,NaN,NaN,Oficiais generais das forças armadas As funçõe...
1,102,1.0,NaN,NaN,NaN,NaN,NaN,Oficiais das forças armadas Estão compreendida...
2,103,1.0,NaN,NaN,NaN,NaN,NaN,Praças das forças armadas Estão compreendidas ...
3,201,1.0,NaN,NaN,NaN,NaN,NaN,Oficiais superiores da polícia militar Comanda...
4,203,1.0,NaN,NaN,NaN,NaN,NaN,"Tenentes da polícia militar Comandam pelotão, ..."
5,311,1.0,NaN,NaN,NaN,NaN,NaN,Subtenentes e sargentos do corpo de bombeiros ...
6,312,1.0,NaN,NaN,NaN,NaN,NaN,Cabos e soldados do corpo de bombeiros militar...
7,5173,1.0,NaN,NaN,NaN,NaN,NaN,Vigilantes e guardas de segurança Vigiam depen...
8,4223,NaN,1.0,NaN,NaN,NaN,NaN,"Operadores de telemarketing Atendem usuários, ..."
9,4222,NaN,1.0,NaN,NaN,NaN,NaN,"Operadores de telefonia Operam equipamentos, a..."
10,2523,NaN,1.0,NaN,NaN,NaN,NaN,Secretárias(os) executivas(os) e afins Assesso...
11,5241,NaN,1.0,NaN,NaN,NaN,NaN,Vendedores em domicílio Vendem produtos e serv...
12,5242,NaN,1.0,NaN,NaN,NaN,NaN,"Vendedores em bancas, quiosques e barracas Ven..."
13,5243,NaN,1.0,NaN,NaN,NaN,NaN,Vendedores ambulantes Vendem mercadorias e ali...
14,4221,NaN,1.0,NaN,NaN,NaN,NaN,Recepcionistas Recepcionam e prestam serviços ...
15,4241,NaN,1.0,NaN,NaN,NaN,NaN,Entrevistadores e recenseadores Aplicam questi...
16,2253,NaN,NaN,1.0,NaN,NaN,NaN,Médicos em medicina diagnóstica e terapêutica ...
17,2253,NaN,NaN,1.0,NaN,NaN,NaN,Médicos em medicina diagnóstica e terapêutica ...
18,2235,NaN,NaN,1.0,NaN,NaN,NaN,Enfermeiros e afins Prestam assistência ao pac...
19,3222,NaN,NaN,1.0,NaN,NaN,NaN,Técnicos e auxiliares de enfermagem Desempenha...
20,5193,NaN,NaN,1.0,NaN,NaN,NaN,"Trabalhadores de serviços veterinários, de hig..."
21,2237,NaN,NaN,1.0,NaN,NaN,NaN,Nutricionistas Prestam assistência nutricional...
22,2261,NaN,NaN,1.0,NaN,NaN,NaN,Osteopatas e quiropraxistas Tratam e atendem p...
23,2233,NaN,NaN,1.0,NaN,NaN,NaN,Veterinários e zootecnistas Praticam clínica m...
24,2124,NaN,NaN,NaN,1.0,NaN,NaN,Analistas de tecnologia da informação Desenvol...
25,1425,NaN,NaN,NaN,1.0,NaN,NaN,Gerentes de tecnologia da informação Gerenciam...
26,2341,NaN,NaN,NaN,1.0,NaN,NaN,"Professores de matemática, estatística e infor..."
27,2612,NaN,NaN,NaN,1.0,NaN,NaN,Profissionais da informação Disponibilizam inf...
28,2122,NaN,NaN,NaN,1.0,NaN,NaN,Engenheiros em computação Projetam soluções em...
29,3185,NaN,NaN,NaN,NaN,1.0,NaN,Desenhistas projetistas de construção civil e ...
30,7152,NaN,NaN,NaN,NaN,1.0,NaN,Trabalhadores de estruturas de alvenaria Organ...
31,8211,NaN,NaN,NaN,NaN,1.0,NaN,Operadores de instalações de sinterização Oper...
32,7701,NaN,NaN,NaN,NaN,1.0,NaN,"Supervisores em indústria de madeira, mobiliár..."
33,7613,NaN,NaN,NaN,NaN,1.0,NaN,Operadores de tear e máquinas similares Prepar...
34,7111,NaN,NaN,NaN,NaN,1.0,NaN,Trabalhadores da extração de minerais sólidos ...
35,5132,NaN,NaN,NaN,NaN,NaN,1.0,Cozinheiros Organizam e supervisionam serviços...
36,2711,NaN,NaN,NaN,NaN,NaN,1.0,Chefes de cozinha e afins Criam e elaboram pra...
37,5135,NaN,NaN,NaN,NaN,NaN,1.0,Trabalhadores auxiliares nos serviços de alime...
38,3252,NaN,NaN,NaN,NaN,NaN,1.0,"Técnicos em produção, conservação e de qualid..."
39,8418,NaN,NaN,NaN,NaN,NaN,1.0,Operadores de equipamentos na fabricação de pã...
40,8414,NaN,NaN,NaN,NaN,NaN,1.0,Trabalhadores na fabricação e conservação de a...
41,7842,NaN,NaN,NaN,NaN,NaN,1.0,Alimentadores de linhas de produção Preparam m...

In [75]:
test = test[~test['codigoCbo'].isin(train['codigoCbo'])]

In [68]:
COMMENT = 'unificado'
train[COMMENT].fillna("unknown", inplace=True)
test[COMMENT].fillna("unknown", inplace=True)

test.head()

   codigoCbo                                          unificado
4        202  Capitães da  polícia militar Comandam operaçõe...
6        211  Subtenentes e sargentos da policia militar Com...
7        212  Cabos e soldados da polícia militar Realizam p...
8        301  Oficiais superiores do corpo de bombeiros mili...
9        302  Oficiais intermediários do corpo de bombeiros ...

In [48]:
def  clean_and_tokenizing(text):
    # Remove numbers + punctuation        
    letters_only = re.sub("[^a-zA-Z]", " ", normalize('NFKD', text).encode('ASCII', 'ignore').decode('ASCII')) 

    # Convert to lower case, split into individual words
    words = letters_only.lower().split()                             

    # Save english stopwords
    stops = set(stopwords.words("portuguese"))                  

    # Remove stop words
    meaningful_words = [w for w in words if not w in stops]   
    
    # Join everython again
    #print(meaningful_words)
    #print(" ".join( meaningful_words ))
    return( " ".join( meaningful_words ))

In [49]:
n = train.shape[0]
vec = TfidfVectorizer(ngram_range=(1,2), tokenizer=clean_and_tokenizing,
               min_df=3, max_df=0.9, strip_accents='unicode', use_idf=1,
               smooth_idf=1, sublinear_tf=1 )
trn_term_doc = vec.fit_transform(train[COMMENT])
test_term_doc = vec.transform(test[COMMENT])

In [52]:
trn_term_doc
test_term_doc

<578x146 sparse matrix of type '<class 'numpy.float64'>'
	with 36085 stored elements in Compressed Sparse Row format>

In [50]:
def pr(y_i, y):
    p = x[y==y_i].sum(0)
    return (p+1) / ((y==y_i).sum()+1)

In [53]:
def get_mdl(y):
    y = y.values
    r = np.log(pr(1,y) / pr(0,y))
    m = LogisticRegression(C=4, dual=True)
    x_nb = x.multiply(r)
    return m.fit(x_nb, y), r

In [54]:
x = trn_term_doc

test_x = test_term_doc

In [63]:
train.fillna(0, inplace= True)

In [64]:
label_cols = list(train)[1:]

In [65]:
preds = np.zeros((len(test), len(label_cols)))

for i, j in enumerate(label_cols):
    print('fit', j)
    m,r = get_mdl(train[j])
    preds[:,i] = m.predict_proba(test_x.multiply(r))[:,1]

fit seguranca
fit relacionamento
fit saude
fit tecnologia
fit manufatura
fit gastronomia
fit unificado

In [66]:
submid = pd.DataFrame({'id': test["codigoCbo"]})
submission = pd.concat([submid, pd.DataFrame(preds, columns = label_cols)], axis=1)
submission.to_csv('submission.csv', index=False)